@page "/fetchdata"

@using ThermalCamera.App.Data
@inject UsbConnectionService UsbConnectionService

<h1>USB Connection Service</h1>

<p>This table shows all connected USB devices.</p>

<button class="btn btn-primary" @onclick="Refresh">Refresh</button>

@if (usbConnectionData == null)
{
	<p><em>Loading...</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Summary</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var data in usbConnectionData)
			{
				<tr>
					<td>@data.Summary</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<UsbConnectionData> usbConnectionData;

	protected override async Task OnInitializedAsync()
	{
		await Refresh();
	}

	private async Task Refresh()
	{
		usbConnectionData = await UsbConnectionService.GetData();
	}
}
